@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Blinker:wght@100;600&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Swanky+and+Moo+Moo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Josefin+Slab:wght@500&family=Manrope:wght@300&family=Rokkitt:wght@200&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap');

:root {
    --primary-color: #007AF3;
    --light-whatsup: #25D366;
    --dark-whatsup: #128C7E;
}

body {
    background: url(../images/repeated-square-dark.png) repeat;
    margin: 0;
    font-family: 'Blinker';
}

// full web

a {
    color: #a3a2a2;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 5em 2em;

}

h2 {
    font-size: 2em;
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;
}
// full web END

// nawigacja 

.navbar {
    background: rgb(7, 7, 7);
    padding: 1.0em 1em 1.0em 3em;
    font-family: 'Poppins';
    .logo {
        text-decoration: none;
        color: whitesmoke;
        font-size: 1.8em;
        font-weight: bold;
        font-family: 'Swanky and Moo Moo';

        .first {
            color: var(--primary-color);
        }

        .middle {
            color: var(--primary-color);
        }

        .last {
            color: #AE1C28;
        }
    }

    nav {
        display: none;
        font-size: 1.1em;
        color: #383737;
    }

    nav .shade-position {
        // width: 25%;
        // text-align: center;
        // padding: 25px 20px;
        text-decoration: none;
        // margin: auto;
        /* Magic! */
        // position: relative;
        color: #a3a2a2;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear;
      }
      nav .shade-position:hover, nav .shade-position.active {
        color: rgb(0, 115, 209);
      }
      nav .shade-position:after {
        content: '';
        width: 8px;
        height: 8px;
        background: #fff;
        display: inline-block;
        position: absolute;
        bottom: 10px;
        left: 50%;
        margin-left: -4px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -moz-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        -moz-transition: -moz-transform 0.3s cubic-bezier(0.61, 0, 0.405, 1.63);
        -o-transition: -o-transform 0.3s cubic-bezier(0.61, 0, 0.405, 1.63);
        -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.61, 0, 0.405, 1.63);
        transition: transform 0.3s cubic-bezier(0.61, 0, 0.405, 1.63);
      }
      nav .shade-position.active:after {
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
      }

    .container {
        display: flex;
        place-content: space-between;
    }

    .mobile-menu {
        // fill: whitesmoke;
        cursor: pointer;
    }
}

// nawigacja END



// 1 sekcja info
.info {
    text-align: center;

    .features-container {
        animation: 2s fadeIn;
        animation-fill-mode: forwards;
        visibility: hidden;

        @keyframes fadeIn {
            0% {
                opacity: 0;
            }

            100% {
                visibility: visible;
                opacity: 1;
            }
        }

        padding-top: 1.5em;
    }

    .left-col {
        .subhead {
            text-transform: uppercase;
            font-weight: bold;
            color: rgb(133, 130, 130);
            letter-spacing: .1em;
            text-align: center;
        }

        // flaga
        .flag-container {
            display: inline-block;
           
            .holland-flag {
                width: 10%;
                display: block;
                margin-left: auto;
                margin-right: auto
            }
        }

        h1 {
            color: #c5c5c5;
            font-size: 2.5em;
            line-height: 1.3em;
            margin-top: .2em;
            text-align: center;
            margin-left: auto;
            margin-right: auto
        }

        .sendbutton {
            background: #21468B;
            color: white;
            text-decoration: none;
            padding: .6em 1.3em;
            // margin-bottom: 2em;
            font-size: 1.4em;
            border-radius: 5em;
            font-weight: bold;
            display: inline-block;
            display: block;
            margin-left: auto;
            margin-right: auto;

            &:hover {
                background: rgb(45, 93, 182);
            }

        }
    }


}

//sprawy podatkowe, pomoc w znalezieniu.. itd
.features-list {
    
    margin: 0;
    padding-left: .1em;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    color: #c5c5c5;
    li {
        font-size: 1.1em;
        margin-bottom: 1em;
        margin-left: 1em;
        font-weight: bold;
        position: relative;
        z-index: 300;

        &:before {
            content: '';
            left: -2em;
            position: absolute;
            width: 20px;
            height: 20px;
            background-image: url('../images/check.svg');
            background-size: contain;
            margin-right: .5em;
        }
    }
}


.info::after {
    content: "";
    // background: url('../images/nlphoo-mobile.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    // opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    height: 150%;
}

// 1 sekcja info END

// .info-img {
//     width: 90%;
//     margin-top: 3em;
// }


// 2 sekcja about 
section.about-section {
    font-family: 'Titillium Web';
    font-size: 0.9em;
    font-weight: 400;
    // background: rgb(63, 63, 63); to_recover
    // background: #F2F2F2;
    height: 47em;
    // padding-bottom: 28em;
    display: flex;
    justify-content: center;
    color: white;
    padding-bottom: 22em;
    h1 {
        // text-transform: uppercase;
        // text-transform: uppercase;
        color: #e0e0e0;
        margin-bottom: 0em;
        font-size: 2.3em;
        
        margin-left: 38%;
        // margin-right: 50%;
        width: 200px;
        font-family: 'Titillium Web';
        font-weight: bold;
        // text-shadow: 3px 2px 0 rgb(202, 202, 202);
    }

    li {
        // box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
        // background: #F2F2F2;
        text-align: center;
        width: 80%;
        height: 100%;
        margin: 0 auto 5em auto;
        border-radius: 1em;
        color: #dddddd;
        // border:2px solid rgb(46, 45, 45);
        blockquote{
               margin: 0.5em; 
               
        }
        img {
            text-align: center;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
            // border:2px solid rgb(46, 45, 45);
            width: 10em;
            height: 10em;
            margin-top: 10px;
            // border: 10px solid #4e6379;
            border-radius: 10%;
            float: none;
        }
    }
}

// 2 sekcja about END

// 3 sekcja Zakres usług
.services-section {
    // background: #F2F2F2;
    color: rgb(241, 241, 241);
    // padding-bottom: 17em;
    padding-bottom: 5em;
    h1{
        font-family: "Titillium Web";
        text-align: center;
        text-transform: uppercase;
        // text-shadow: 3px 2px 0 rgb(211, 210, 210);
    }
   
    .container {
        font-family: "Titillium Web";
    .check-list {
        font-size: 1.3em;
        display: inline;
        margin: 0;
        padding-left: 1.2rem;
        // text-shadow: 3px 3px 0 rgb(202, 202, 202);
      }

      .check-list li {
        position: relative;
        list-style-type: none;
        padding-left: 2.5rem;
        margin-bottom: 0.5rem;
      }

      .check-list li:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: -2px;
        width: 5px;
        height: 11px;
        border-width: 0 3px 3px 0;
        border-style: solid;
        border-color:  var(--primary-color);
        transform-origin: bottom left;
        transform: rotate(45deg);
    }

    // .services-left {
    //     display: block;
    // }

}
    // li {
    //     background: #006BD6;
    //     text-align: center;
    //     padding: 2em 1em;
    //     width: 80%;
    //     margin: 0 auto 5em auto;
    //     border-radius: 1em;

    //     img {
    //         width: 5em;
    //         height: 5em;
    //         border: 5px solid #006BD6;
    //         border-radius: 50%;
    //         margin-top: -4.5em;
    //     }
    // }

}



input,
textarea {
    width: 100%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid gray;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer;
}

iframe {
    width: 100%;
    height: 300px;
}

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: #20272E;
    height: 100vh;
    padding: 1em;

    ul.primary-nav {
        margin-top: 5em;
    }

    li {

        a {
            // color: white;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: right;

            // &:hover {
            //     font-weight: bold;
            // }
        }
    }
}

.mobile-menu-exit {
    float: right;
    margin: .5em;
    cursor: pointer;
}

.contact-section {
    position: relative;
    font-weight: bold;
    padding-bottom: 4em;
    
    .contact-left {
        color: white;
        // padding-bottom: 0em;
        // margin-bottom: 0em;
        font-family: "Titillium Web";
        font-weight: 600;
        .send-message-cta{
            background: var(--primary-color);
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1em;
            width: 100%;
            &:hover {
                background: rgb(45, 93, 182);
            }
        }
    }

    .send-message-cta{
        // margin-left: 1em;
        // margin-right: auto;
        margin-bottom: 1em;
        // // width: 85%;
        &:hover {
            background: rgb(45, 93, 182);
        }
    }

    h2 {
        font-family: "Titillium Web";
        font-weight: 500;
    }

    .contact-right {
        .contact-message{
            display: none;
            margin: 0em;
            padding: 0em;
            
            
        }
        
        .whatsapp-button {
            width: 68%;
            
//   margin: 0 auto;
            text-align: center;
            background: var(--light-whatsup);
            color: white;
            text-decoration: none;
            padding: .6em 1.3em;
            // margin-bottom: 2em;
            font-size: 1.4em;
            border-radius: 5em;
            font-weight: bold;

            display: block;
            margin-left: auto;
            margin-right: auto;

            &:hover {
                background: rgb(0, 94, 28);
            }

        }
    }

    .contact-message {
        font-family: "Ubuntu";
      
        text-decoration: none;
        // background-color: #1a1a1a;
        color: #e9e9e9;
        font-family: 'Ubuntu';
        // text-transform: uppercase;
        letter-spacing: 0.1em;
        line-height: 1;
        font-weight: bold;
        text-rendering: optimizeLegibility;
        text-align: center;
        // text-shadow: 4px 3px 0 rgb(202, 202, 202);
}

}

.footer{
    background-color: rgb(31, 31, 31);
    text-align: center;
    // font-size: 0.8em;
    padding-top: 2.2em;
    padding-bottom: 2.2em;
    color: #b6b6b6;
    h1{
        margin-top: 0em;
        font-size: 0.9em;
    }
    

    h2{
        // font-size: 0.7em;
        margin-bottom: 0;
        font-size: 0.8em;
    }
    a {
        color: #646464;
        text-decoration: none;
        margin-left: 0.4em;
        margin-right: 0.4em;
    }

}

@media only screen and (min-width: 768px) {

    // nawigacja
    .mobile-menu,
    .mobile-menu-exit {
        display: none;
    }

    .navbar .container {
        display: grid;
        grid-template-columns: 180px auto;
        justify-content: unset;
        padding-bottom: 0.5em;
    }

    .navbar {
        position: fixed;
        /* Set the navbar to fixed position */
        top: 0;
        /* Position the navbar at the top of the page */
        width: 97%;
        /* Full width */
        z-index: 999;

        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    }

    .navbar nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;
        ul {
            display: flex;
        }

        a {
            color: rgb(24, 23, 23);
            font-size: 1em;
            padding: .1em 1em;
            padding-top: 0.5em;
        }

        ul.primary-nav {
            margin: 0;
            color: rgb(255, 255, 255);
        }

        li.current a {
            font-weight: bold;
        }

        li.whatsapp-cta a {
            // padding-top: -0.5em;
            padding-bottom: 0.5em;
            color: #b1aeae;
            border: 2px solid #000000;
            font-weight: bold;
            border-radius: 5em;
            margin-top: -.2em;
            font-family: 'Abel';
            // margin-bottom: 0.5em;
            &:hover {
                background: var(--light-whatsup);
                border: 3px solid var(--light-whatsup);
                color: white;
            }
        }
    }
    //nawigacja end

   // 1 sekcja info
    .info::after {
        content: "";
        // background: url('../images/nlphoo.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        // opacity: 0.32;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        height: 150%;
    }
    // 1 sekcja info end

    .services-section {
        h1{
            text-transform: uppercase;
            text-align: center;
            font-size: 2em;
        }
        .container {
            .services-left {
                margin-right: 18%;
            }
            font-size: 2em;
            display: flex;
        }

        .container{
            
                .check-list li {
                    position: relative;
                    list-style-type: none;
                    padding-left: 2.8rem;
                    margin-bottom: 0.5rem;
                  }

                  .check-list {
                      font-size: 1.1em;
                    // text-shadow: 3px 3px 0 rgb(209, 208, 208);
                  }
            
                  .check-list li:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: -2px;
                    width: 10px;
                    height: 22px;
                    border-width: 0 5px 5px 0;
                    border-style: solid;
                    border-color: var(--primary-color);
                    transform-origin: bottom left;
                    transform: rotate(45deg);
                }
            
        }

        
        
    }

    .contact-section {
        
        .contact-right {
            .contact-message {
                color: whitesmoke;
                display: flex;
                font-weight: 300;
                padding-top: 0em;
                margin-top: 0em;
                text-align: center;
                font-size: 1.2em; 
                
            }
            .whatsapp-button{
                display: none; 
            }    
           
        }
    }
    section.about-section {
        padding-bottom: 17em;
    }     
}

@media only screen and (min-width: 1080px) {

    // full web
    .container {
        width: 93%;
        margin: 0 auto;
    }

    section {
        padding: 10em 4em;
        max-width: 100%
    }


    section.about-section {
        padding-bottom: 17em;
    }
    // full web end
    
        

    // 1 sekcja info 
    .info .container {
        height: 40em;
        display: flex;
        justify-content: space-between;
        text-align: left;
        margin-left: 10%;
        margin-right: 10%;
        .features-container {
            font-size: 1.2em;
            padding-top: 10%;
            animation: 2s fadeIn;
            animation-fill-mode: forwards;
            visibility: hidden;
            
            @keyframes fadeIn {
                0% {
                    opacity: 0;
                }

                100% {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
        .left-col {
            margin: 3em 4em 0 6em;

            .flag-container {
                display: inline-block;
                .holland-flag {
                    width: 12%;
                }
            }
            h1 {
                font-size: 3.7em;
                // width: 90%;

            }
        }
    }
    .info-cta {
        display: flex;

        .sendbutton {
            margin-right: 1em;
        }
    }

    ul.features-list {
        display: block;
        margin-left: 1em;
        li {
            font-size: 1.9em;
            &:before {
                width: 30px;
                height: 30px;
            }
        }
    }
    // 1 sekcja info END

    // 2 sekcja about

    section.about-section {

        h1{
            margin-left: 46%;
        margin-right: 50%;
        }
    }

    .about-section {
        position: relative;
        // background: var(--primary-color);
        color: white;
        padding-bottom: 0em;
        img {
            float: left;
        }

    
        ul {
            display: flex;
            li {
                // margin: 0 1em;
                margin: 0 auto;
                width: 60%;
                font-size: 1.5em;
    
                img {
                    width: 15em;
                    height: 15em;
                }
    
            }
        }
    }
    // 2 sekcja about end


    .services-section ul {
        display: flex;

        li {
            margin: 0 1em;
        }
    }


    .contact-section {
        position: relative;
        font-weight: 500;
        font-family: "Titillium Web";
    
        .send-message-cta{
            margin-left: auto;
        }

        .container {
            display: flex;

        }
        .contact-right {         
            margin-top: 5em;
            margin-left: 10em;
            width: 50%;
            height: 100%;
            
            .contact-message {
                // font-family: "Ubuntu";
                text-decoration: none;
                color: #d6d6d6;
                font-family: "Titillium Web";
                text-transform: uppercase;
                letter-spacing: 0.2em;
                font-size: 2.1em;
                line-height: 2;
                font-weight: 800;
                text-rendering: optimizeLegibility;
                text-align: center;
                // background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(9, 66, 255));
                // -webkit-background-clip: text;
                // -webkit-text-fill-color: transparent;
        }
    }

    }
}
